*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: #4096f15d;
}

/* title */
.title{
  font-size: 24px;
  font-weight: 700;
  color: #333;
  background-color: #68ef6e;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.tree-structure{
	list-style: none;
	clear: both;
	padding-left: 1px;
}
.tree-structure li {
	position: relative;
}
.tree-structure li a{
	font-weight: normal;
	color: red;
	text-decoration: none;
	font-weight: 700;
	vertical-align: middle;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: calc(100% - 50px);
	vertical-align: top;
}
/* .tree-structure li a:hover{
	padding-left: 5px;
} */
.tree-structure > li > .num{
	display: inline-block;
	background: #5879e4;
	min-width: 24px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	padding: 3px 9px;
	margin-right: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	border-radius: 20px;
}
.tree-structure > li > .num:after{
	position: absolute;
	content: "";
	width: 1px;
	height: 100%;
	background-color: #c13afb;
	top: 5px;
	left: 12px;
	z-index: -1;
}
.tree-structure > li:last-child > .num:after{	
	height: calc(100% - 44px);
}
.tree-structure ol{
	padding: 20px 0 20px 45px;
}
.tree-structure ol li{
	list-style-type: none;
	padding: 8px 0
}
.tree-structure ol li .num{
	position: relative;
}
.tree-structure ol li a{
	color: #000;
	font-weight: normal;
	text-align: justify;
}
.tree-structure ol li .theory{
	color: blue;
	font-style: italic;
	font-weight: bold;
}
.num .fa-exclamation-triangle {
	color: yellow;
}
.tree-structure .num{
	background-color: #5879e4;
	min-width: 24px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	padding: 3px 9px;
	margin-right: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 20px;
}
.tree-structure  ol  li .num:before{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	right: 100%;
	margin: auto;
	width: 33px;
	height: 1px;
	background-color: #c13afb;
}


/* khung word */
.search-container {
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
}

.search-input-container {
	position: relative;
	display: flex;
	align-items: center;
}

.search-input {
	transition: width 0.3s ease, padding 0.3s ease;
	width: 0;
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 24px;
	font-size: 16px;
	outline: none;
}

.search-input.hidden {
	width: 0;
	padding: 0;
}

.search-input.visible {
	width: 300px;
	padding: 8px 16px;
}

.search-icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	border-radius: 50%;
	cursor: pointer;
	font-size: 24px;
	transition: background-color 0.3s ease;
	margin-right: 8px;

}

.search-icon:hover {
	background-color: #e0e0e0;
}

.clear-icon {
	position: absolute;
	right: 60px; /* Điều chỉnh vị trí của icon xóa */
	cursor: pointer;
	color: #666;
	font-size: 18px;
}

.clear-icon:hover {
	color: #000; /* Màu khi di chuột qua */
}

.suggestions-list {
	position: absolute;
	top: 50px;
	width: 300px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 1000;
}

.suggestions-list div {
	padding: 8px 16px;
	cursor: pointer;
}

.suggestions-list div:hover {
	background-color: #f0f0f0;
}